<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.iptime.kairas.hw10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.iptime.kairas.hw10.LoadingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="org.iptime.kairas.hw10.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.iptime.kairas.hw10.Calculator"
            android:label="계산기" />
        <activity
            android:name="org.iptime.kairas.hw10.Convertor"
            android:label="단위변환기" />
        <activity
            android:name="org.iptime.kairas.hw10.Memo"
            android:label="메모" />
        <activity
            android:name="org.iptime.kairas.hw10.Music"
            android:label="뮤직" />
        <activity
            android:name="org.iptime.kairas.hw10.Phonebook"
            android:label="주소록" />
        <activity
            android:name="org.iptime.kairas.hw10.Setting"
            android:label="설정" />
        <activity
            android:name="org.iptime.kairas.hw10.Web"
            android:label="웹브라우저" />
        <service
            android:name="org.iptime.kairas.hw10.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>